<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-blue.css">
		</head>
		<body>
			<nav class="navigation w3-border-bottom">
	    		<ul style="padding-left:16px;">
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
				      <li><a href="/videos">Videos</a></li>
	    		</ul>

					<div class="blurb">
						<h1 class="title"><span class="red">Make</span> + <span class="green">Learn</span> = <span class="yellow">Fun</span></h1>
					</div>
			</nav>


			<div class="container">


			{{ content }}

			</div><!-- /.container -->
			<footer style="padding-left:8px;">
	    		<ul>
	        		<li><a href="mailto:benjamib@gmail.com">email</a></li>
	        		<li><a href="https://github.com/benjamib">github.com/benjamib</a></li>
				</ul>
			</footer>
		</body>
	</html>
