<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css" />
		</head>
		<body>
			<nav class="navigation">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<div class="w3-dropdown-hover">
				      <div>More</div>
				      <div class="w3-dropdown-content w3-card-4">
				        <a href="/projects" class="w3-bar-item w3-button">Projects </a>
				        <a href="/videos" class="w3-bar-item w3-button">Videos </a>
				        <a href="/podcasts" class="w3-bar-item w3-button">Podcasts </a>
								<a href="/courses" class="w3-bar-item w3-button">Courses </a>
				      </div>
				    </div>
	    		</ul>
					<div class="blurb">
						<h1><span class="red">Make</span> + <span class="green">Learn</span> = <span class="yellow">Fun</span></h1>
					</div>
			</nav>

			<div class="container">


			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:benjamig@gmail.com">email</a></li>
	        		<li><a href="https://github.com/benjamb">github.com/benjamib</a></li>
				</ul>
			</footer>
		</body>
	</html>
